.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: appear 500ms ease;
}

.home img {
  width: 128px;
  height: 128px;
  margin-bottom: 20px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.status button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #0064ff;
  cursor: pointer;
  transition: opacity 200ms ease;
}

.status button span {
  font-size: 24px;
  margin-left: 5px;
}

.status button:hover {
  opacity: 0.8;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.notice p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.notice p span {
  color: #0064ff;
}

.notice[data-type='warning'] p span {
  color: #ff9800;
}

.noticeActions {
  display: flex;
  gap: 10px;
}

.update {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  background: #111;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: appear 500ms ease;
}

.update .title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.update .title span {
  color: #0064ff;
  font-size: 22px;
}

.update .content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.update .content .version {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #bbb;
  font-size: 14px;
}

.update .content button {
  padding: 6px 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
