.badge {
  position: absolute;
  top: 8px;
  right: 12px;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #5a3a00;
  color: #ffc766;
  font-size: 0.55em;
  z-index: 1;
}

.text {
  margin-left: 6px;
}
